﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>Hi Professor, Welcome to lab 3 demo!</h2><br />
            <b>First Name:</b>  Dhruv
        <br>
            <b>Last Name:</b>   Kargwal
        <br>
            <b>Student Email Address:</b>   karg0025@algonquinlive.com
        <br>
        <br />
        <br />
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Show the Song!", "SongForm", "Home")
        @Html.ActionLink("Students", "CreateStudent", "Home")
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        Footer!
    </footer>
</body>
</html>